<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>

{% block setcurrenturi %}
    {{ setCurrentURI(app.session, app.request.uri) }}
{% endblock %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}The Final Allegiance{% endblock %} | Warlords</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ asset('jquery.js') }}"></script>
        {% block stylesheets %}

            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
            
        {% endblock %}
        <script type="text/javascript">
      		WebFontConfig = { google: { families: [ 'Black Ops One' ] } };
      		(function() {
        		var wf = document.createElement('script');
        		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        		wf.type = 'text/javascript';
        		wf.async = 'true';
        		var s = document.getElementsByTagName('script')[0];
        		s.parentNode.insertBefore(wf, s);
     		 })();
    	</script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		

    </head>
    <body>

        <div id="container">
            <header id="header">
               
				<div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('WarlordsGameBundle_homepage') }}">Home</a></li>
                                <li><a href="{{ path('WarlordsGameBundle_about') }}">About</a></li>
								<li><a href="{{ path('WarlordsGameBundle_guide') }}">Guide</a></li>
								<li><a href="{{ path('WarlordsGameBundle_wealth') }}">Ranking</a>
									<ul>
           				 				<li><a href="{{ path('WarlordsGameBundle_wealth') }}">Wealth</a></li>
            							<li><a href="{{ path('WarlordsGameBundle_fame') }}">Fame</a></li>
        							</ul>									
								</li>
								<li><a href="{{ path('WarlordsGameBundle_profile') }}">Profile</a>
                                    <ul>    
           				 				<li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                                        <li><a href="{{ path('fos_message_inbox') }}">Messages</a></li>
        							</ul>
                                </li>					
								<li><a href="{{ path('WarlordsGameBundle_player') }}">Search</a></li>
                                <li><a href="{{ path('WarlordsGameBundle_contact') }}">Contact</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>
            </header>
			
			<div id="content">
				<aside class="sidebar">
				        {% block sidebar %}{% endblock %}
		        </aside>
				
		        <section class="main-col">
		            {% block body %}{% endblock %}
		        </section> 
				<div class="clear"></div>
			</div>
            <div id="footer">
                {% block footer %}
                    Warlords: The Final Allegiance - © 2012 WeWeb
                {% endblock %}
            </div>
        </div>
		
	 	     
        {% block javascripts %}
		{% endblock %}
		
    </body>
</html>
