{# src/Warlords/GameBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/player.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/events.css') }}" type="text/css" rel="stylesheet" />

    <link href="{{ asset('css/jquery-ui-1.9.1.custom.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('js/jquery-ui-1.9.1.custom.js') }}"></script>

{% endblock %}

{% block sidebar %}
    {% block login %}
        {% render "FOSUserBundle:Security:login" with {'embedded': true} %}
	{% endblock %}
	<div class="sidebaritem">
		<div class="header">
			<div class="title"><h1>EVENTS</h1></div>
		</div>
		<div class="content">
		    <div id="embedded_events">	
			    {% render "WarlordsGameBundle:Page:events" with {quantity: 5} %}
			</div>
			<a href="" id="showEvents" title="Events">Show more</a>
		</div>
		<div class="footer"></div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript"> 
		$("input").focus(function() {
			$(this).addClass("formFocused")
		});

		$("input").blur(function() {
			$(this).removeClass("formFocused")
		});
		
		var $link = "{{ path('WarlordsGameBundle_events', {'quantity': '100'}) }}";
		var $shortlink = "{{ path('WarlordsGameBundle_events', {'quantity': '5'}) }}";
		
		var refreshId = setInterval(function()
		{
		    $("#embedded_events").load($shortlink);
		}, 10000);
		
	    var $dialog = $('<div></div>')
	        .load($link)
	        .dialog({
	            autoOpen: false,
	            title: "Events",
	            width:500,
	            height: 600,
	            draggable: false
	            });
		
		$('#showEvents').click(function (event){
		    event.preventDefault();
		    if ($dialog.dialog( "isOpen" ) != true )
		    {
		        $dialog.dialog('open');
		    }
		});
    </script>  
{% endblock %}
