<div class="mainitem">
	<div class="header">
		<div class="title"><h1>CHANGE PASSWORD</h1></div>
	</div>
	<div class="content center">
            
        {% if errors != null %}
		    <ul class="errormsg">
		        {% for error in errors %}
                    {% if error | trans != '' %} 
                        <li>{{ error | trans }} </li>
                    {% endif %}
		        {% endfor %}
		    </ul>
        {% endif %}
        {% if app.session.hasFlash('fos_user_success') %}
            <div class="changeSuccess">
                {{ app.session.flash('fos_user_success') | trans({}, 'FOSUserBundle')}}
            </div>
        {% endif %}

        {% form_theme form 'WarlordsGameBundle:Form:form_theme.html.twig' %}

        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" novalidate id="changePass">
            {{ form_rest(form) }}

            <p class="submit">
    			<input type="submit" class="changePasswordBtn" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
			</p>
        </form>
    </div>
	<div class="footer"></div>
</div>

