{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profile.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="mainitem">
        <div class="header">
			<div class="title"><h1>Buy Soldiers</h1></div>
		</div>
        <div class="content">
            {% if error is defined %}
                <div class="loginerror">{{ error }}</div>
            {% endif %}
            
            {% if info is defined %}
                <div class="information">
                <h2>{{ info }}</h2>
                <p>You have purchased:<br />
                
                {% if soldiers is not empty %}
                {{ soldiers }} Soldiers  <br />
                {% endif %}
                
                {% if calvary is not empty %}
                {{ knights }} Knights  <br />
                {% endif %}
                
                {% if calvary is not empty %}
                {{ calvary }} Calvary  <br />
                {% endif %}
                
                for {{ gold }} gold.<br />
                </div>
            {% endif %}
            <p><a href="../profile">Return to profile</a></p>
        </div>
		<div class="footer"></div>
	</div>
{% endblock %}

