{# src/Warlords/GameBundle/Resources/views/Page/player.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}


{% block title %}Players{% endblock%}

{% block body %}
	<div class="mainitem">
		<div class="header">
			<div class="title"><h1>Players List and Search</h1></div>
		</div>
    	
        <div class="content">
            {% if errors %}
                <ul class="errormsg">
                {% for error in errors %}
                    <li>{{ error }} </li>
                {% endfor %}
				</ul>
			{% endif %}

            <form action="{{ path('WarlordsGameBundle_player') }}" method="post" {{ form_enctype(form) }} class="player">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <p><input type="submit" value="Search"></p>
            </form>

            <section class="players" id="players">				
                {% if players %}
                    <h3>Results</h3>
                    <p>Please choose a player from the list to continue</p>
                    {% include 'WarlordsGameBundle:Player:index.html.twig' with { 'players': players } %}
                {% else %}
                    <h3>Results</h3>
                    <p>No matching results.</p>
                {% endif %}
			</section>
        </div>
    	<div class="footer"></div>  
    </div>
{% endblock %}


{% block javascripts %}
	<script type="text/javascript"> 
	

	$("input[type='submit']").hover(

                function(){$(this).stop(true).animate({
                    backgroundColor: "#ff760f",
  
                }, 'linear' );},

                function(){$(this).stop(true).animate({
                    backgroundColor: "#1f1b18",

                }, 'linear' );}
        );
	</script>  
{% endblock %}




