{# src/Warlords/GameBundle/Resources/views/Page/index.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	    $('#buysubmit').prop("disabled", true);

	    function validate(value) {
    		if( value < 0 || value == "" || isNaN(value))
    		{
    			//alert("negative or empty");
    			$('#buysubmit').prop("disabled", true);	
    			return false;
    		}
    		else
    		{
    			$('#buysubmit').prop("disabled", false);
				return true;
    		}
	    }

	    function updateCost() {
	    	var total = $('#buy_soldiers').val()*{{ soldiers_cost}} +
	    				$('#buy_knights').val()*{{ knights_cost}} +
	    				$('#buy_calvary').val()*{{ calvary_cost}};

	    	$('#finalcost').text("Cost: " + total);
	    	return 0;
	    }
	    
	    $('#buy_soldiers').keyup(function() {
	    	var validated = validate($('#buy_soldiers').val());
	    	if(validated == false)
	    	{
    			$('#buy_soldiers').val(0);
	    	}
	    	else
	    	{
	    		updateCost();
	    	}
		});
		$('#buy_knights').keyup(function() {
	    	var validated = validate($('#buy_knights').val());
	    	if(validated == false)
	    	{
    			$('#buy_knights').val(0);
	    	}
	    	else
	    	{
	    		updateCost();
	    	}
		});
		$('#buy_calvary').keyup(function() {
	    	var validated = validate($('#buy_calvary').val());
	    	if(validated == false)
	    	{
    			$('#buy_calvary').val(0);
	    	}
	    	updateCost();
		});
    </script>
{% endblock %}


{% block body %}
    <div class="mainitem">
        	<div class="header">
			<div class="title"><h1>PROFILE</h1></div>
		</div>
        	<div class="content">
		    {% if info is defined %}
		        <div class="loginerror">{{ info }}</div>
		    {% endif %}		   
               {% if serrors is defined and serrors%}
                <ul class="errormsg">
                {% for serror in serrors %}
                    <li>{{ serror }} </li>
                {% endfor %}
				</ul>
	    	{% endif %}
	    	
			{% block tab_javascript %}
				<script type="text/javascript">
				    $(function() {
					$( "#profile-tabs" ).tabs({
					    {% if serrors is defined and serrors %}
					    	selected: 1,
					    {% endif %}
					    heightStyle: "content",
					    beforeLoad: function( event, ui ) {
						ui.jqXHR.error(function() {
						    ui.panel.html(
							"Couldn't load this page. We'll try to fix this as soon as possible." );
						});
					    }
					    
					});
				    });
				</script>
			{% endblock %}
			
			<div id="profile-tabs">
				<ul id="profile-tab-widget">
					<li><a href="#buysoldiers-tab">Buy Soldiers</a></li>
					<li><a href="{{ path('WarlordsGameBundle_ally_list') }}">My Ally</a></li>

				</ul>
		    
				<div id="buysoldiers-tab">
				        <div id="stats">
					        <ul id="resources">
					            <li class="gold">Gold: <label id="gold">{{ playerstats.gold }}</label></li>
					            <li class="land">Land: <label id="land">{{ playerstats.land }}</label></li>
					            <li class="fame">Fame: <label id="fame">{{ playerstats.fame }}</label></li>
					        </ul>
					        <br />
					        <ul id="army">
					            <li>Infantry: <label id="infantry">{{ playerstats.infantry }}</label></li>
					            <li>Knights: <label id="knights">{{ playerstats.knights }}</label></li>
					            <li>Calvary: <label id="calvary">{{ playerstats.calvary }}</label></li>
					        </ul>
				        </div>
				   
				    <div id="profile">
					    <label>Upkeep: </label><label id="playerLevel">{{ upkeep }} gold/hr</label><br />

					    <div id="buysoldiers">
					        {% if form is defined %}
					        <form action="{{ path( 'WarlordsGameBundle_buy' ) }}" method="post" {{ form_enctype(form) }} class="profile-form">
						    {{ form_widget(form) }}
						    <label id="finalcost"></label>
						    <p class="submit">
						        <input type="submit" value="Buy" id="buysubmit">
						    </p>
					        </form>
					        {% endif %}
					    </div>
				    </div>
				</div>
			</div>
        	</div>
		<div class="footer"></div>
	</div>
{% endblock %}



