{# src/Warlords/GameBundle/Resources/views/Page/index.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/profile.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% if error is defined %}
        <div class="loginerror">{{ error }}</div>
    {% else %}
    <h1>{{ playername }} </h1>
    <div id="stats">
        <ul id="resources">
            <li class="gold">Gold: <label id="gold">{{ playerstats.gold }}</label></li>
            <li class="land">Land: <label id="land">{{ playerstats.land }}</label></li>
            <li class="fame">Fame: <label id="fame">{{ playerstats.fame }}</label></li>
        </ul>
    </div>
    <br />
    <div id="actions">
        <a href="{{ path('WarlordsGameBundle:Profile:attack', { 'target_id': target_id }) }}">Attack this player </a>
    </div>
    {% endif %}
{% endblock %}

