{# src/Warlords/GameBundle/Resources/views/Page/index.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/profile.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% if info is not empty %}
        <div class="loginerror">{{ info }}</div>
    {% endif %}
    
    <a id="logout" href="{{ path('logout') }}">Logout</a>
    
    <div id="stats">
        <ul id="resources">
            <li class="gold">Gold: <label id="gold">{{ playerstats.gold }}</label></li>
            <li class="land">Land: <label id="land">{{ playerstats.land }}</label></li>
            <li class="fame">Fame: <label id="fame">{{ playerstats.fame }}</label></li>
        </ul>
        <br />
        <ul id="army">
            <li>Infantry: <label id="infantry">{{ playerstats.infantry }}</label></li>
            <li>Knights: <label id="knights">{{ playerstats.knights }}</label></li>
            <li>Calvary: <label id="calvary">{{ playerstats.calvary }}</label></li>
        </ul>
    </div>
    <div id="events">
    <h2>Events</h2>
    </div>
{% endblock %}

{% block sidebar %}
<label>{{app.user.username}}</label><br/><br/>
<label>Experience:</label><label id="experience">{{ playerstats.exp }}</label>
<ul id="attack_stats">
    <li>Level: <label id="lvl">{{ playerstats.level }}</label>
    <li>Attack: <label id="attk">{{ attack }}</label>
    <li>Defense: <label id="defs">{{ defense }}</label>
</ul>

<div id="buysoldiers">
<form action="{{ path( 'WarlordsGameBundle_buy_soldier' ) }}" method="post" {{ form_enctype(form) }} class="comment">
    <p class="submit">
        <input type="submit" value="Submit">
    </p>
</form>
</div>

{% endblock %}
