{% extends 'WarlordsGameBundle::layout.html.twig' %}


{% block body %}
    <div class="mainitem">
        <div class="header">
			<div class="title"><h1>Send Soldiers</h1></div>
		</div>
        <div class="content">
            {% if error is defined %}
                <div class="loginerror">{{ error }}</div>
            {% endif %}
            
            {% if info is defined %}
                <div class="information">
                <h2>{{ info }}</h2>
                <p>You have sent:<br />
                
                {% if soldiers is not empty %}
                {{ soldiers }} Soldiers  <br />
                {% endif %}
                
                {% if calvary is not empty %}
                {{ knights }} Knights  <br />
                {% endif %}
                
                {% if calvary is not empty %}
                {{ calvary }} Calvary  <br />
                {% endif %}
                
                .<br />
                </div>
            {% endif %}
            <p><a href="{{ path('WarlordsGameBundle_profile') }}">Return to profile</a></p>
        </div>
		<div class="footer"></div>
	</div>
{% endblock %}

