{# src/Warlords/GameBundle/Resources/views/Page/wealth.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block body %}
    <div class="mainitem">
		<div class="header">
			<div class="title"><h1>RANK BOARD - WEALTH</h1></div>
		</div>
		<div class="content">
            <p>Top {{ warlords_wealthboard_top }} wealthiest players in Warlords!</p>
            <table class="ranktable">
                <tr class="ranktableheader">
                    <td>Rank</td>
                    <td>Player</td>
                    <td>Level</td>
                    <td>Gold</td>
                </tr>
                {% set counter = 1 %}
                {% for player in players %}
                    <tr>
                        <td class="rank">{{ counter }}</td>
                        <td class="username">{{ player.user.username }}</td>
                        <td class="level">{{ player.level }}</td>
                        <td class="gold">{{ player.gold}}</td>
                    </tr>
                    {% set counter = counter + 1 %}
                {% endfor %}
            </table> 
		</div>
		<div class="footer"></div>
	</div>
{% endblock %}
