{% block body %}
	{% if app.user.username is defined %}
		<div class="header">
			<div class="atk-title"><h1>Battle Info</h1></div>
		</div>
		<div id="atk-dialog">
	    	        <div class="user-info">
				<header>
			    		<p>You: {{ app.user.username }}</p>
				</header>
				<ul id="info">
					<li>Level: {{ app.user.stats.level }}</li>
					<li>Fame: {{ app.user.stats.fame }}</li>
					<li>Gold: {{ app.user.stats.gold}}</li>

				</ul>

			</div>
			<div id="vs"><p>VS</p></div>
			<div class="rival-info">
				<header>
			    		<p>Player: {{ player.user.username }}</p>
				</header>
				<ul id="info">
					<li>Level: {{ player.level }}</li>
					<li>Fame: {{ player.Fame }}</li>
					<li>Gold: {{ player.gold}}</li>

				</ul>

	
			</div>
	    		
	    	</div>
	    	<div class="attack-form">

			<form action="{{ path('WarlordsGameBundle_player_attack', {'target_id' : player.user.id }) }}" method="post" {{ form_enctype(form) }} class="player">
	    			{{ form_widget(form) }}
	    			{{ form_rest(form) }}
	    			<p class="prompt">Ready for Battle?</p>
	    			<p><input type="submit" value="GO!"></p>
	   		</form>

		</div>
	{% else %}
		<div><p>Please login to access this page</p></div>
	{% endif %}
{% endblock %}


{% block javascripts %}
	<script type="text/javascript"> 


	$("input[type='submit']").hover(

                function(){$(this).stop(true).animate({
                    backgroundColor: "#ff760f",
  
                }, 'linear' );},

                function(){$(this).stop(true).animate({
                    backgroundColor: "#1f1b18",

                }, 'linear' );}
        );
	</script>  
{% endblock %}





