{% for player in players %}
    <article class="player" id="player-{{ player.user.id }} ">
        <div class="userinfo-{{ loop.index }}">
		<header class="s-header">
		    <p><span>Player: {{ player.user.username }}</span></p>
		</header>
		<ul id="info">
			<li>Level: {{ player.level }}</li>
			<li>Fame: {{ player.Fame }}</li>
			<li>Gold: {{ player.gold}}</li>

		</ul>
        </div>
    </article>
    <div class="dialog-{{ loop.index }}">
    {% render 'WarlordsGameBundle:Player:search' with {'player' : player } %}
    </div>
    {% block javascript %}
	<script type="text/javascript"> 
            $( ".dialog-{{ loop.index }}" ).dialog({
            autoOpen: false,
            height: 350,
	    minWidth: 450,
	    width: 'auto',
            modal: true,
            show: "puff",
            hide: "explode",
            open: function() {
            	$('.ui-widget-overlay').bind('click', function() {
                		$(".dialog-{{ loop.index }}").dialog('close');
            		})
        	}
        });
 
        $( ".userinfo-{{ loop.index }}" ).click(function() {
            $( ".dialog-{{ loop.index }}").dialog( "open" );
            return false;
        });
        

	</script>
	{% endblock %}
{% endfor %}



{% block javascripts %}
	<script type="text/javascript"> 
	

  	{# $("[class^=userinfo]").hover(
    	 	function() { $(this).stop().fadeTo("slow", 1);},
         	function() { $(this).stop().fadeTo("slow", 0.6);});

	#}
	

	$("[class^=userinfo]").hover(

                function(){$(this).stop(true).animate({
                    backgroundColor: "#ff760f",
                    borderRadius: 5,
                    WebkitBorderRadius: 5, 
    		    MozBorderRadius: 5 ,
                    color: "#fff",
                    height: 100,
                }, 'linear' );},

                function(){$(this).stop(true).animate({
                    backgroundColor: "#1f1b18",
                    borderRadius: 5,
                    WebkitBorderRadius: 5, 
    		    MozBorderRadius: 5 ,
                    color: "#E2D7C5",
                    height: 90,
                }, 'linear' );}
        );

	</script>  
{% endblock %}

