{% for player in players %}
    <article class="player {{ cycle(['odd', 'even'], loop.index0) }}" id="player-{{ player.id }}">
        <header>
            <p><span>Player: {{ player.user.username }}</span></p>
        </header>
        <ul id="info">
        	<ul>
			<li>Level: {{ player.level }}</li>
			<li>Fame: {{ player.Fame }}</li>
			<li>Gold: {{ player.gold}}</li>

		</ul>
        </ul>
    </article>
{% else %}
    <p>There are no players match your search.</p>
{% endfor %}
