{% for player in players %}
    <article class="player {{ cycle(['odd', 'even'], loop.index0) }}" id="player-{{ player.id }}">
        <header>
            <p><span>{{ player.user.username }}</span></p>
        </header>
        <ul>
        	<li>Level: {{ player.level }}</li>
        	<li>Infantry: {{ player.infantry}}</li>
        	<li>Knights: {{ player.knights}}</li>
        	<li>Calvary: {{ player.calvary}}</li>
        	<li>Gold: {{ player.gold}}</li>
        </ul>
    </article>
{% else %}
    <p>There are no players match your search.</p>
{% endfor %}
