{% extends 'form_div_layout.html.twig' %}

{% block integer_widget %}
    <div class="integer_widget">
        {{ parent() }}
    </div>
{% endblock %}

{% block field_errors %}
   {% spaceless %}
       <span class="help-inline">
       {% if errors|length > 0 %}
            {% for error in errors %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br />
            {% endfor %}
        {% endif %}
    </span>
    {% endspaceless %}
{% endblock field_errors %}

{% block field_row %}
     {# commented out the error class for now, since the behavior isn't consistent across all fields #}
     <div class="label {# if errors|length > 0 %}error{% endif #} float-left">
        {{ form_label(form, label) }}
	 </div>
     <div class="input float-right">
            {% set class = '' %}
            {% if errors|length > 0 %}
                {#{% set class = 'inputerror' %}#} {% set class = 'form' %}
			{% else %}
				{% set class = 'form' %}
            {% endif %}
            {{ form_widget(form, { 'attr': { 'class': class } }) }}
          {#  {{ form_errors(form) }} #}
      </div>
      <div class="clear"></div>
{% endblock field_row %}

{% block _fos_user_registration_form_username_widget %}
    {{ block('field_widget') }}  
    <img id="username_tick" src="{{ asset('images/tick.png') }}" width="12" height="12">
    <img id="username_cross" src="{{ asset('images/cross.png') }}" width="12" height="12">
{% endblock %}

{% block _fos_user_registration_form_email_first_widget %}
    {{ block('field_widget') }}   
    <img id="email_tick" src="{{ asset('images/tick.png') }}" width="12" height="12">
    <img id="email_cross" src="{{ asset('images/cross.png') }}" width="12" height="12">
{% endblock %}

{% block field_label %}
    {% spaceless %}
        <label for="{{ id }}">{{ id|trans }}</label>
    {% endspaceless %}
{% endblock field_label %}

{% block genemu_captcha_widget %}
     <div id="fos_user_registration_form_captcha">   
    <img id="fos_user_registration_form_captcha_image" src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" />
        <a id="fos_user_registration_form_captcha_refresh" href="">Refresh</a>
    </div>
    {{ block("field_widget") }}
{% endblock %}
